div.card {
    background-color: white;
    color: #333;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    zoom: 1.2;
    text-decoration: none;
}
